# Build Artifacts
# ===============

main.js
main.js.map
*.js
!esbuild.config.js

node_modules/

# Build
# =====
build/

# Jest testing
# ============
coverage/

# OS created files
# ===============
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
